#buy_with_aplazo {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 10rem;
    background: #0b4f6c!important;
    color: #ffffff;
    font-size: 16px;
    padding: 1.2rem;
}

#buy_with_aplazo_minicart {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 10rem;
    background: #0b4f6c!important;
    color: #ffffff;
}

#buy_with_aplazo_checkout {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 10rem;
    background: #0b4f6c!important;
    color: #ffffff;
}
